@charset "utf-8";
*{margin:0; padding:0;}
html,body{font-size:12px; font-family:"simsun","arial"; color:#000; background:#FFF;}
ul li,ol li{list-style:none;}
a{ text-decoration:none;outline:none; blr:expression(this.onFocus=this.blur());}
img{border:none;}
/*------------------------------------------------------------------
                          CLEAR FLOAT
-------------------------------------------------------------------*/
.clearfix:after { content:""; display:block; clear:both; height:0; line-height:0; visibility:hidden; }
.clearfix { zoom:1; }
.fl { float: left; }
.fr { float: right; }
/*------------------------------------------------------------------
                          HERE IS BUTTONS
-------------------------------------------------------------------*/
.btn {
  display: inline-block;
  padding:0 16px;
  margin-bottom: 0;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 27px;
}
a.btn{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  *line-height: 31px;
}

input.btn{
  *overflow: show;
  *margin-right: 5px !important;
}

.btn.disabled,
.btn[disabled]{
  pointer-events: none;
  cursor:not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover{
  color: #333;
  background-color: #e7e7e7;
  border-color: #999;
}

.btn-original{
  color: #fff;
  background-color: #1a80e6;
  border-color: #2389a6;
}
.btn-original:hover{
  color: #fff;
  background-color: #0867cd;
  border-color: #096f8c;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover{
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-sys{
  color: #333;
  background-color: #f2f2f2;
  border-color: #999;
}
.btn-sys:hover{
  color: #fff;
  background-color: #3399ff;
  border-color: #0066ff;
}

.btn-big{
  padding: 0px 22px;
  font-size: 18px;
  line-height: 39px;
  *line-height: 29px;
  border-radius: 6px;
}

.btn-nor{
  padding: 0px 16px;
  font-size: 12px;
  line-height: 27px;
  *line-height: 25px;
  border-radius: 4px;
}
.btn-sml{
  padding: 0px 5px;
  font-size: 12px;
  line-height:18px;
  *line-height: 17px;
  border-radius: 3px;
}

a.btn-nor{
  *line-height: 31px;
}

a.btn-big{
  *line-height: 37px;
}

a.btn-sml{
  *line-height: 21px;
}
/*------------------------------------------------------------------
                        HERE IS FORM ELEMENTS
-------------------------------------------------------------------*/
.input-text,
.textarea,
.select{
  box-sizing:border-box;
  border:solid 1px #aaaaaa;
  border-radius: 3px;
  -webkit-transition:all 0.2s linear 0s;
  -moz-transition:all 0.2s linear 0s;
  -o-transition:all 0.2s linear 0s;
  transition:all 0.2s linear 0s;
}

.input-text.form-danger,
.textarea.form-danger,
.select.form-danger{
    border:solid 1px #d43f3a;
    color:#d9534f;
}
.input-text.form-success,
.textarea.form-success,
.select.form-success{
    border:solid 1px #4cae4c;
    color:#5cb85c;
}

.textarea{
  height:auto;
  font-size:14px;
  padding:4px;
}
:-moz-placeholder {
    color: #bebebe; opacity:1; 
}
::-moz-placeholder {
    color: #bebebe;opacity:1;
}
input:-ms-input-placeholder{
    color: #bebebe;opacity:1;
}
input::-webkit-input-placeholder{
    color: #bebebe;opacity:1;
}
.size-sml{
  font-size: 12px;
  height: 23px;
  *line-height: 23px;
  padding: 2px 5px;
}
.size-nor{
  font-size: 13px;
  height: 27px;
  *line-height: 27px;
  padding: 3px 6px;
  *padding: 1px 6px;
}
.size-big{
  font-size: 16px;
  height: 31px;
  *line-height: 31px;
  padding: 4px 7px;
}
.textarea.size-sml,
.textarea.size-nor,
.textarea.size-big{
  height: 110px;  
}
.select.size-sml{
  padding:0 1px;
}
.select.size-nor{
  padding:0 2px;
}
.select.size-big{ 
  padding:0 3px;
}

.input-text:hover,
.textarea:hover,
.select:hover{
  color:#000;
  border: solid 1px #3bb4f2;
}

.input-text:focus,
.textarea:focus,
.select:focus{
  color:#000;
  border:solid 1px #0f9ae0 \9;
  border-color:rgba(82,168,236,0.8);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-text[disabled],
.textarea[disabled],
.input-text.disabled.focus,
.textarea.disabled.focus,
.select.disabled.focus{
  background-color:#ededed;
  cursor:default;
  border-color: #ddd;
  -webkit-box-shadow:inset 0 2px 2px #e8e7e7;
  -moz-box-shadow:inset 0 2px 2px #e8e7e7;
  box-shadow:inset 0 2px 2px #e8e7e7;
}

.input-text[disabled],
.textarea[disabled]{
  background-color:#e6e6e6;
  cursor:not-allowed;
}

.input-text.box-shadow,
.textarea.box-shadow,
.select.box-shadow{
  -ms-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
.container {}
.menu-bar {
    border: 1px solid #333;
}
.menu-bar li a {
    display:block;
    width:80px;
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 35px;
    color: #333;
    text-align: center;
    border-right: 1px solid #333;
}
.menu-bar li a:hover {
    color:#fb9337;
    transition: color .2s;
    -moz-transition: color .2s; /* Firefox 4 */
    -webkit-transition: color .2s; /* Safari 和 Chrome */
    -o-transition: color .2s; /* Opera */
}
.menu-bar li a i {
    margin-right: 3px;
}
.preview .left {
    display: none;
}
.edit .left {
    width: 200px;
    border: 1px solid #333;
}
.left .clean-code{
    display: none;
}
.left .page-structure-module h2,
.left .column-module h2,
.left .top-nav-module h2,
.left .basic-element-module h2 {
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 25px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #333;
}
.left .page-structure-module,
.left .top-nav-module,
.left .basic-element-module {
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.left .page-structure-module li,
.left .top-nav-module li,
.left .basic-element-module li {
    width: 100px;
    margin-top: 10px;
}
.left .page-structure-module li a,
.left .top-nav-module li a,
.left .basic-element-module li a {
    display: block;
    width: 80px;
    margin: 0 auto;
    border: 1px solid #333;
}
.left .page-structure-module li a img,
.left .top-nav-module li a img,
.left .basic-element-module li a img {
    display: block;
    margin: 10px auto;
}
.left .page-structure-module li a span,
.left .top-nav-module li a span,
.left .basic-element-module li a span {
    display: block;
    margin: 0 auto;
    line-height: 25px;
    color: #333;
    text-align: center;
}
.left .column-module .article-list h3,
.left .column-module .link h3,
.left .column-module .login h3 {
    margin-left: 5px;
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 25px;
    color: #333;
}
.left .column-module .article-list-title,
.left .column-module .link-title,
.left .column-module .login-title {
    border-bottom: 1px solid #333;
}
.left .column-module .article-list-box,
.left .column-module .link-box,
.left .column-module .login-box {
    display: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.left .column-module .article-list i,
.left .column-module .link i,
.left .column-module .login i {
    margin-right: 5px;
    padding: 0 5px;
    font-size: 13px;
    line-height: 25px;
    color: #333;
    cursor: pointer;
}
.left .column-module .article-list li,
.left .column-module .link li,
.left .column-module .login li {
    width: 100px;
    margin-top: 10px;
}
.left .column-module .article-list li a,
.left .column-module .link li a,
.left .column-module .login li a {
    display: block;
    width: 80px;
    margin: 0 auto;
    border: 1px solid #333;
}
.left .column-module .article-list li a img,
.left .column-module .link li a img,
.left .column-module .login li a img {
    display: block;
    margin: 10px auto;
}
.left .column-module .article-list li a span,
.left .column-module .link li a span,
.left .column-module .login li a span {
    display: block;
    margin: 0 auto;
    line-height: 25px;
    color: #333;
    text-align: center;
}
.left .view {
    display: none;
}
.preview .center{
    margin: 0 auto;
}
.edit .center {
    position:absolute;
    left: 202px;
    right: 322px;
    height: 500px;
}
.preview .right{
    display: none;
}
.edit .right {
    width: 320px;
    min-height: 500px;
    border: 1px solid #333;
    font-family: "Helvetica Neue", sans-serif;
}
.right .style-operation-box {
    max-height: 300px;
    overflow-y: auto;
}
.right .size-and-position {
    border-right: 1px solid #333;
}
.right .style-operation > h2,
.right .size-and-position h2,
.right .background h2,
.right .shadow h2,
.right .border h2,
.right .font h2,
.right .style-abstract h2 {
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 25px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #333; 
    background: #aaa;   
}
.right .size-and-position .size-and-position-size,
.right .size-and-position .size-and-position-align,
.right .size-and-position .size-and-position-position {
    border-bottom: 1px solid #333;
}
.right .size-and-position .size-and-position-size-width,
.right .size-and-position .size-and-position-size-height {
    width: 49%;
    line-height: 35px;
    text-align: center;
}
.right .size-and-position .size-and-position-size-width input,
.right .size-and-position .size-and-position-size-height input {
    width: 50px;
    padding: 0 5px;
}
.right .size-and-position .size-and-position-align-row,
.right .size-and-position .size-and-position-align-column {
    width: 49%;
    line-height: 35px;
    text-align: center;
}
.right .size-and-position .size-and-position-position-slide .hd{
    border-bottom: 1px solid #333;
}
.right .size-and-position .size-and-position-position-slide .hd li{
    width: 60px;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #333;
    cursor: pointer;
    transition: background-color 200ms ease;
}
.right .size-and-position .size-and-position-position-slide .hd li:hover,
.right .size-and-position .size-and-position-position-slide .hd li.on {
    background-color: #aaa;
}
.right .size-and-position .size-and-position-position-slide .bd li{
    margin: 10%;
}
.right .size-and-position .size-and-position-position-slide .bd div{
    position: relative;
    width: 180px;
    height: 60px;
    margin: auto auto; 
    border: 3px solid #424242;
    border-radius: 3px; 
}
.right .size-and-position .size-and-position-position-slide .bd input{
    width: 50px;
    height: 20px;
    text-align: center;
}
.right .size-and-position .size-and-position-position-slide .bd span {
    position: absolute;
    width: 54px;
    height: 20px;
    margin-left: -27px;
    margin-top: -10px;
    border-radius: 3px;
}
.right .size-and-position .size-and-position-position-slide .bd span.top{
    top: 0;
    left: 50%;
}
.right .size-and-position .size-and-position-position-slide .bd span.right{
    left: 100%;
    top: 50%;
    min-height: 0;
}
.right .size-and-position .size-and-position-position-slide .bd span.bottom{
    left: 50%;
    top: 100%;
}
.right .size-and-position .size-and-position-position-slide .bd span.left{
    left: 0;
    top: 50%;
}
.right .background,
.right .shadow,
.right .border,
.right .style-abstract,
.right .edit-css-js {
    border-bottom: 1px solid #333;
}
.right .background > div,
.right .shadow > div,
.right .border > div,
.right .font > div,
.right .style-abstract > div {
    line-height: 35px;

}
.right .background  label,
.right .shadow label,
.right .border label,
.right .font label,
.right .style-abstract label {
    display: block;
    width: 110px;
    padding-left: 10px;
}
.right .background > div div.fl,
.right .shadow > div div.fl,
.right .border > div div.fl,
.right .font > div div.fl,
.right .style-abstract > div div.fl {
    position: relative;
    width: 180px;
    text-align: center;
}
#backgroundColor,
#shadowColor,
#borderColor,
#color,
#styleBorderColor,
#styleBackgroundColor {
    width: 143px;
	border-right:20px solid green;
}
#upLoadImg {
    position: absolute;
    top: 7px;
    right: 19px;
    height: 21px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 200ms ease;
}
#upLoadImg:hover {
    background-color: #aaa; 
}
.right .background .background-image .webuploader-element-invisible {
    display: none;
}
.right .border .border-radius-slide,
.right .border .border-width-slide {
    height: 35px;
}
#borderWidth,
#borderRadius {
    width: 88%;
    margin: 0 auto;
    margin-top: 15px;
}
.right .style-abstract > div div.clearfix{
    border-right: 1px solid #333;
}
.right .style-abstract-box {
    max-height: 200px;
    overflow-y: auto;
}
.right .style-abstract h2 {
    border-top: 1px solid #333;
}
.right .style-abstract .select,
.right .background .select,
.right .font .select {
    width: 140px;
}
.right .edit-css-js {
    text-align: center;
    line-height: 40px;
}
.right .edit-css-js .edit-js{
    margin-left: 40px;
}
.center #operationPanel{
    overflow: auto;
}
.center #operationPanelContainer {
    margin: 0 auto;
    width: 1000px;
    min-height: 800px;
}

/*------------------------------------------------------------------
                          CONTAINTER STYLE
-------------------------------------------------------------------*/
.left .linear-layout,
.left .sub-container,
.left .column-container{
    display: none;
}
.center .linear-layout-module {
    box-sizing: border-box;
    position: relative;    
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.center .sub-container-module {
    box-sizing: border-box;
    position: relative;
    float: left;
    height: auto;
}
.center .column-container-module {
    box-sizing: border-box;
    position: relative;
    float: left;
    height: auto;
}
.center .linear-layout-module > a,
.center .sub-container-module > a,
.center .column-container-module > a {
    display:none;
}
.center .linear-layout {
    width: 100%;
    height: auto;
    min-height: 200px;
    outline: 1px solid #f00;
}
.center .sub-container {
    min-width: 300px;
    height: auto;
    min-height: 200px;
    outline: 1px solid #0f0;
}
.center .column-container {
    min-width: 250px;
    height: auto;
    min-height: 150px;
    outline: 1px solid #00f;
}
.center .box > a{
    display:none;
}
.center .box {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.center .view *{
    display: box;
}
/*------------------------------------------------------------------
                          栏目模块样式
-------------------------------------------------------------------*/
.article-list-column1 li{
    width:100%; 
    font-family: "宋体";
}
.article-list-column1 li a {
    margin-left:5px; 
    font-size: 12px; 
    color:#333; 
    line-height: 25px; 
    text-decoration: none;
    cursor: pointer;
}
.article-list-column1 li a:hover{
    color: #ffb31f;
}
.article-list-column2{
    box-shadow: 2px 2px 5px #aaa;
    border-radius: 50px;
    text-align: left;
    vertical-align: top;
    background: url(../img/icon-row.png) left top no-repeat;
}
.article-list-column2 li{
    margin-left: 10px;
}
.article-list-column2 li a {
    line-height: 25px;
}
.article-list-column2 li a:hover{
    color: #0f0;
}
.link-column1 li{
    width: 100%;
}
.link-column1 li a{
    display:block; 
    width: 90%; 
    height: 35px; 
    margin: 0 auto; 
    font-family: "宋体"; 
    font-size: 12px; 
    color:#333; 
    text-align: center; 
    text-decoration: none; 
    line-height: 35px; 
    border:1px solid #cbcfd5;     
    transition: width 2s;
    -moz-transition: width 2s; 
    -webkit-transition: width 2s; 
    -o-transition: width 2s; 
}
.link-column1 li a:hover{
    border: 1px solid #e4a52a; 
    font-size: 13px; 
    font-weight: bold;
}
.top-nav{
    border-top: 1px solid #0caad9;
    background: #0483c4;
}
.top-nav1 li{
    float: left;
}
.top-nav1 li a{
    display: block; 
    height:48px; 
    padding-left:13px; 
    padding-right: 13px;
    background: #0483c4;
    line-height: 48px; 
    font-size: 15px; 
    color:#fff; 
    white-space: nowrap; 
}
.top-nav1 li a:hover{
    text-decoration: none; 
}



.ui-sortable-placeholder { 
    outline: 1px dashed #ddd !important;
    visibility: visible !important; 
    border-radius: 4px;
}
.toolbar-close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}
.toolbar-close .fa-window-close{
    color: #f00;
    font-size: 18px;
}
.currentEle {
    outline: 1px dashed #ddd;
}
.show-code{
    display: none;
    padding: 15px;
}
.show-code textarea{
    height: 280px;
    resize: none;
}
.CodeMirror-gutters{
    width: 32px !important;
}
.CodeMirror-sizer{
    margin-left: 30px !important;
}

/*------------------------------------------------------------------
                          自增输入框样式
-------------------------------------------------------------------*/
.ui-spinner-input {
    margin: 0 2px !important;
    padding: 2px 5px !important;
    border: 1px solid #aaaaaa !important;
}
.ui-widget.ui-widget-content {
    border: none !important;
}
.right .shadow .ui-spinner-input,
.right .border .ui-spinner-input,
.right .font .ui-spinner-input,
.right .style-abstract .ui-spinner-input{
    width: 143px;
}
